@model IEnumerable<ContosoUniversity.Models.SchoolViewModels.EnrollmentDateGroup>

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Contact Us!!</h2>

<table>
    <tr>
        <th style="padding-right:4%;">
            Name:
        </th>
        <th style="padding-right:4%;">
            Information:
        </th>
    </tr>

        <tr>
            <td>
                Bryan Crowder
            </td>
            <td>
                (541) 310-7024
            </td>
        </tr>
</table>